<noscript>
  {{ critical_css_fragment|safe }}
</noscript>
<script>
!function(e){"use strict";var n=function(n,t,o){function r(e){if(a.body)return e();setTimeout(function(){r(e)})}function i(){l.addEventListener&&l.removeEventListener("load",i),l.media=o||"all"}var d,a=e.document,l=a.createElement("link");if(t)d=t;else{var s=(a.body||a.getElementsByTagName("head")[0]).childNodes;d=s[s.length-1]}var f=a.styleSheets;l.rel="stylesheet",l.href=n,l.media="only x",r(function(){d.parentNode.insertBefore(l,t?d:d.nextSibling)});var c=function(e){for(var n=l.href,t=f.length;t--;)if(f[t].href===n)return e();setTimeout(function(){c(e)})};return l.addEventListener&&l.addEventListener("load",i),l.onloadcssdefined=c,c(i),l};"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n;
  var elem = document.getElementById("django-critical-async-css-marker");
  {% for entry in css_entries %}
    {% if entry.href %}
      loadCSS('{{ entry.href|safe }}', elem);
    {% endif %}
    {% if entry.text %}
      injectCSS('{{ entry.text|escapejs }}', elem);
    {% endif %}
  {% endfor %}
  elem.parentNode.removeChild(elem);
}("undefined"!=typeof global?global:this);
</script>